<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Internal Server Error</title>
</head>
<body>
    <h1>Internal Server Error</h1>
    <a href="index.html" th:href="@{/}">社員一覧画面へ</a>
</body>
</html>