<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>社員情報更新画面</title>
    <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
</head>
<body>
<h1>社員情報 更新</h1>
<a href="index.html" th:href="@{index}">社員一覧へ</a>
<form method="post" enctype="multipart/form-data" action="index.html" th:action="@{updateComplete}" th:object="${employeeForm}">
    <table>
        <tr>
            <th>ID</th>
            <td th:text="${employeeId}"></td>
        </tr>
        <tr>
            <th>氏名</th>
            <td>
                <input type="text" name="name" th:field="*{name}">
                <div th:errors="*{name}" class="error">エラーメッセージ</div>
            </td>
        </tr>
        <tr>
            <th>入社年月日</th>
            <td>
                <input type="date" name="joinedDate" th:field="*{joinedDate}">
                <div th:errors="*{joinedDate}" class="error">エラーメッセージ</div>
            </td>
        </tr>
        <tr>
            <th>部署名</th>
            <td>
                <input type="text" name="departmentName"  th:field="*{departmentName}">
                <div th:errors="*{departmentName}" class="error">エラーメッセージ</div>
            </td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td>
                <input type="text" name="email"  th:field="*{email}">
                <div th:errors="*{email}" class="error">エラーメッセージ</div>
            </td>
        </tr>
        <tr>
            <th>誕生日</th>
            <td>
                <input type="date" name="birthDay" th:field="*{birthDay}">
                <div th:errors="*{birthDay}" class="error">エラーメッセージ</div>
            </td>
        </tr>
        <tr>
            <th>社員の写真</th>
            <td>
                <input type="file" th:field="*{image}" accept="image/png">
            </td>
        </tr>
    </table>
    <p>
        上記の内容で更新します。よろしいですか？
        <button>はい、更新します</button>
    </p>
</form>
</body>
</html>
