<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>削除確認画面</title>
    <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
</head>
<body>
    <h1>社員情報 削除確認</h1>
    <a href="insertMain.html" th:href="@{insertMain}">新規追加へ</a>
    <a href="index.html" th:href="@{index}">社員一覧へ</a>

    <form method="post" action="index.html" th:action="@{deleteComplete}" th:object="${employee}">
        <p>
            以下の情報を削除します。よろしいですか？
                <button>はい、削除します</button>
        </p>
    </form>

    <table>
        <tr>
            <th>ID</th><td th:text="${employee.id}">111</td>
        </tr>
        <tr>
            <th>氏名</th><td th:text="${employee.name}">鈴木太郎</td>
        </tr>
        <tr>
            <th>入社年月日</th><td th:text="${employee.joinedDate}">2000-01-01</td>
        </tr>
        <tr>
            <th>部署名</th><td th:text="${employee.departmentName}">営業部</td>
        </tr>
        <tr>
            <th>メールアドレス</th><td th:text="${employee.email}">taro@example.com</td>
        </tr>
        <tr>
            <th>誕生日</th><td th:text="${employee.birthDay}">2000-01-01</td>
        </tr>
    </table>

</body>
</html>
