<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>社員情報画面</title>
    <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
</head>
<body>
    <h1>社員情報表示</h1>
    <a href="insertMain.html" th:href="@{insertMain}">新規追加へ</a>
    <a href="index.html" th:href="@{index}">社員一覧へ</a>
    <table>
        <tr>
            <th>ID</th><td th:text="${employee.id}">111</td>
        </tr>
        <tr>
            <th>氏名</th><td th:text="${employee.name}">鈴木太郎</td>
        </tr>
        <tr>
            <th>入社年月日</th><td th:text="${#temporals.format(employee.joinedDate, 'uuuu-MM-dd')}">2000-01-01</td>
        </tr>
        <tr>
            <th>部署名</th><td th:text="${employee.departmentName}">営業部</td>
        </tr>
        <tr>
            <th>メールアドレス</th><td th:text="${employee.email}">taro@example.com</td>
        </tr>
        <tr>
            <th>誕生日</th><td th:text="${employee.birthDay}">1980-01-01</td>
        </tr>
        <tr>
            <th>社員の写真</th>
            <td>
                <img th:src="@{${#strings.defaultString(employee.imagePath,'/images/no_image.png')}}">
            </td>
        </tr>
    </table>
</body>
</html>
