<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>業務エラー画面</title>
</head>
<body>
    <h1>業務エラー画面</h1>
    <p th:text="${message}">ダミーのエラーメッセージ</p>
    <a href="index.html" th:href="@{/}">社員一覧画面へ</a>
</body>
</html>