<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>一覧画面</title>
    <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
</head>
<body>
    <h1>社員一覧</h1>
    <a href="insertMain.html" th:href="@{insertMain}">新規追加へ</a>
    <div th:if="${page.totalPages > 0}">
        <a th:each="pageNumber : ${#numbers.sequence(0, page.getTotalPages() - 1)}"
           th:href="@{index(size=${page.getSize()}, page=${pageNumber})}"
           th:text="${pageNumber + 1 + 'ページ'}"
           style="margin-right: 22px">
            1ページ
        </a>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>氏名</th>
            <th>入社年月日</th>
            <th>部署名</th>
            <th>メールアドレス</th>
            <th>誕生日</th>
            <th>更新</th>
            <th>削除</th>
        </tr>
        <tr th:each="employee : ${employeeList}" th:object="${employee}">
            <td ><a href="findById.html" th:text="*{id}" th:href="@{findById(id=*{id})}">111</a></td>
            <td th:text="*{name}">鈴木太郎</td>
            <td th:text="*{joinedDate}">2000-01-01</td>
            <td th:text="*{departmentName}">営業部</td>
            <td th:text="*{email}">taro@example.com</td>
            <td th:text="*{birthDay}">1980-01-01</td>
            <td>
                <form action="updateMain.html" th:action="@{updateMain}">
                    <input type="hidden" name="id" th:value="*{id}">
                    <button>更新</button>
                </form>
            </td>
            <td>
                <form action="deleteConfirm.html" th:action="@{deleteConfirm}">
                    <input type="hidden" name="id" th:value="*{id}">
                    <button>削除</button>
                </form>
            </td>
        </tr>
        <!--/*-->
        <tr>
            <td><a href="findById.html">222</a></td>
            <td>鈴木二郎</td>
            <td>2000-01-02</td>
            <td>開発部</td>
            <td>jiro@example.com</td>
            <td>1980-01-02</td>
            <td>
                <form action="updateMain.html">
                    <button>削除</button>
                </form>
            </td>
            <td>
                <form action="deleteConfirm.html">
                    <button>削除</button>
                </form>
            </td>
        </tr>
        <tr>
            <td><a href="findById.html">333</a></td>
            <td>鈴木三郎</td>
            <td>2000-01-03</td>
            <td>管理部</td>
            <td>saburo@example.com</td>
            <td>1980-01-03</td>
            <td>
                <form action="updateMain.html">
                    <button>削除</button>
                </form>
            </td>
            <td>
                <form action="deleteConfirm.html">
                    <button>削除</button>
                </form>
            </td>
        </tr>
        <!--*/-->
    </table>
</body>
</html>
