<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新規追加画面</title>
    <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
</head>
<body>
<h1>社員情報 新規追加</h1>
<a href="index.html" th:href="@{index}">社員一覧へ</a>
<form method="post" enctype="multipart/form-data" action="index.html" th:action="@{insertComplete}" th:object="${employeeForm}">
    <table>
        <tr>
            <th>ID</th>
            <td>(自動採番されます)</td>
        </tr>
        <tr>
            <th>氏名</th>
            <td>
                <input type="text" th:field="*{name}">
                <div th:errors="*{name}" class="error">エラーメッセージ</div>
            </td>
        </tr>
        <tr>
            <th>入社年月日</th>
            <td>
                <input type="date" th:field="*{joinedDate}">
                <div th:errors="*{joinedDate}" class="error">エラーメッセージ</div>
            </td>
        </tr>
        <tr>
            <th>部署名</th>
            <td>
                <input type="text" th:field="*{departmentName}">
                <div th:errors="*{departmentName}" class="error">エラーメッセージ</div>
            </td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td>
                <input type="text" th:field="*{email}">
                <div th:errors="*{email}" class="error">エラーメッセージ</div>
            </td>
        </tr>
        <tr>
            <th>誕生日</th>
            <td>
                <input type="date" th:field="*{birthDay}">
                <div th:errors="*{birthDay}" class="error">エラーメッセージ</div>
            </td>
        </tr>
        <tr>
            <th>社員の写真</th>
            <td>
                <input type="file" th:field="*{image}" accept="image/png">
            </td>
        </tr>
    </table>
    <button>登録</button>
</form>
</body>
</html>
